<%= form_for @changeset, Routes.topic_path(@conn, :update, @topic), fn f -> %>
    <%= text_input f,:title, placeholder: "Title", class: "form-control" %>
    <%= error_tag f, :title %>

    <%= submit "Edit Topic", class: "btn btn-primary" %>
<% end %>
