<%= @topic.title %>
<div class="input-field">
    <ul class="collection">
    </ul>
    <textarea class="materialize-textarea"></textarea>
    <button class="btn">Add comment</button>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        window.createSocket(<%= @topic.id %>)
    });
</script>
